div{
    color:yellow;
    font-family: 'Goblin One', cursive;
}
.box{
    display: flex; /*Inicia Flexbox*/
    flex-direction:row; /* alinea los elementos en forma de fila*/
    justify-content: space-around; /*configura el espacio entre los elementos*/ 
   
 
}
.uno{
    background-color:red;
    width:23%;
    height: 200px;
    
}
.dos{
    background-color:black;
    width:23%;;
    height: 200px;
}
.tres{
    background-color:red;
    width:23%;
    height: 200px;
}
.cuatro{
    background-color:red;
    width:23%;
    height: 200px;
}
:nth-child(2){
    color:rgb(248, 248, 248);
    font-family: 'Goblin One', cursive;
  
}